:root {
  /* default theme color */
  /* can be overrided by uses `themeConfig` option */
  --slidev-theme-primary: #5d8392;
}

.slidev-layout.cover,
.slidev-layout.intro,
.slidev-layout.end {
  @apply h-full grid;
  text-align: left;

  img.banner {
    margin-left: -10%;
    width: 120%;
    max-width: 120%;
    height: 200px;
    object-fit: cover;
    @apply title-border;
  }

  h1 {
    @apply text-4xl leading-20;
  }

  h1 + p {
    @apply -mt-2 opacity-50 mb-4;
  }

  p + h2,
  ul + h2,
  table + h2 {
    @apply mt-10;
  }
}

.slidev-layout.section {
  @apply h-full grid;
  text-align: left;

  h1 {
    @apply text-3xl leading-20;
    line-height: 3rem;
    @apply title-border
  }

  h1 + p {
    @apply -mt-2 opacity-50 mb-4;
  }

  p + h2,
  ul + h2,
  table + h2 {
    @apply mt-10;
  }
}

.slidev-page .h-full .h-full {
  z-index: -1;
}

.logo {
  z-index: -2;
}
